<%= timestamp %>
<div class='body'>
    <%= event_new_chapter_link(event) unless event.details.is_a?(Chapter) %>
    <div class='content'><%= event_service_icon(event) %><%= render event.details %></div>
    <%= event_controls(event) %>
</div>